body {
	background-color: #99ff99;
	color: white;
}

.content {
	border-radius: 10px;
	width: 300px;
	color: white;
	padding: 1rem;
}

.user {
	background-color: blue;
}

.bot {
	background-color: red;
}

.box {
	height: 35px;
	background-color: #eee;
	color: black;
}

.myTable td {
	padding: 1rem;
}

.main-content {
	border-radius: 10px;
	border: 1px solid #eee;
	display: inline-block;
	background-color:  #d966ff;
}

.render {
	border-radius: 10px;
	border: 1px solid #eee;
	margin: 1rem;
	background-color: #eee;
    overflow: auto;
    height: 400px;
}